<form class="form-horizontal" role="form" id="activityForm" ng-submit="save()">
    <input type="number" name="distanceCovered" id="distanceCovered" class="form-control" placeholder="Distance covered" ng-model="activity.distanceCovered" min="0"
           step="1" required>
    <textarea class="form-control" name="status" id="status" rows="5" placeholder="How you are feeling?" ng-model="activity.status" required></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Post Activity</button>
</form>