<div class="noactivity well" ng-show="!activities.length" ng-cloak>
    <h2>You haven't tracked any activities yet!!</h2>
    <p class="lead">But don't worry! It's really easy to get started. Just click on the button below to enter your first activity:</p>
    <a class="btn btn-success" ng-href="#activity/new">Post New Activity</a>
</div>
<ul class="timeline" ng-show="activities.length">
    <li ng-repeat="activity in activities">
        <div ng-show="activity.share.twitter"  class="timeline-badge success">
            <i class="fa fa-twitter"></i>
        </div>
        <div ng-show="activity.share.facebook"  class="timeline-badge success">
            <i class="fa fa-facebook"></i>
        </div>
        <div ng-hide="activity.share.facebook || activity.share.twitter" class="timeline-badge info">
            <i class="glyphicon glyphicon-share"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{activity.fullname}} ran {{activity.distanceCovered}} {{activity.goalUnit | lowercase}} <small class="text-muted pull-right"><i class="glyphicon glyphicon-calendar"></i> {{activity.activityDate | date:'MMM dd, yyyy'}}</small></h4>
            </div>
            <div class="timeline-body">
                <p>{{activity.status}}</p>
            </div>
            <hr>
            <div class="timeline-footer">
                <a ng-href="#/activity/edit/{{activity.id}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="pull-right" ng-click="delete($index)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
        </div>
    </li>
</ul>