<ul class="timeline">
    <li ng-repeat="activity in activities">
        <div ng-show="activity.share.twitter"  class="timeline-badge success">
            <i class="fa fa-twitter"></i>
        </div>
        <div ng-show="activity.share.facebook"  class="timeline-badge success">
            <i class="fa fa-facebook"></i>
        </div>
        <div ng-hide="activity.share.facebook || activity.share.twitter" class="timeline-badge info">
            <i class="glyphicon glyphicon-share"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{activity.fullname}} ran {{activity.distanceCovered}} {{activity.goalUnit | lowercase}} <small class="text-muted pull-right"><i class="glyphicon glyphicon-calendar"></i> {{activity.activityDate | date:'MMM dd, yyyy'}}</small></h4>
            </div>
            <div class="timeline-body">
                <p>{{activity.status}}</p>
            </div>
            <hr>
            <div class="timeline-footer">
                <a ng-href="#/activity/edit/{{activity.id}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="pull-right" ng-click="delete($index)"><i class="fa fa-archive"></i></a>
            </div>
        </div>
    </li>
</ul>