<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Shekhar Gulati"/>

    <title>Set up your profile</title>

    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MilesToGo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div id="main" class="container">

    <form id="profileForm" class="form-horizontal" role="form" action="" th:action="@{/profiles} + '?connectionId='+${profile.connectionId}" method="POST" novalidate="false">
        <fieldset>

            <!-- Form Name -->
            <legend>Set up new profile</legend>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="picUpload" id="picUpload">Profile Picture</label>

                <div class="col-md-1">
                    <img class="pull-left img-responsive img-rounded" th:src="${profile.profilePic}" alt="${profile.fullname}"/>
                </div>
                <!--<div class="col-md-3">
                    <input id="picUpload" name="picUpload" class="input-file pull-left" type="file">
                </div>-->
            </div>

            <!-- Text input-->
            <div id="fullnameFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="fullname">Full Name</label>

                <div class="col-md-6">
                    <input id="fullname" name="fullname" type="text" placeholder="Your full name"
                           class="form-control input-md" th:value="${profile.fullname}" title="Please enter 'fullname'" required="">

                </div>
            </div>

            <!-- Text input-->
            <div id="emailFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>

                <div class="col-md-6">
                    <input id="email" name="email" type="email" placeholder="Your valid email address" title="Please enter valid 'email'" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div id="usernameFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>

                <div class="col-md-6">
                    <input id="username" name="username" type="text"
                           placeholder="Your unique username(only alphanumeric)" class="form-control input-md" title="Please enter 'username'"
                           th:value="${profile.username}" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="city">City</label>

                <div class="col-md-6">
                    <input id="city" name="city" type="text" placeholder="City you live" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div id="countryFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="country">Country</label>

                <div class="col-md-6">
                    <input id="country" name="country" type="text" placeholder="Country you live" title="Please enter 'country'"
                           class="form-control input-md" required="">

                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="gender" id="gender">Gender</label>

                <div class="col-md-4">
                    <label class="radio-inline pull-left" for="male">
                        <input type="radio"  name="gender" id="male" value="male">
                        Male
                    </label>
                    <label class="radio-inline pull-left" for="female">
                        <input type="radio" name="gender" id="female" value="female">
                        Female
                    </label>
                </div>
            </div>

            <!-- Textarea -->
            <div id="bioFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="bio">Bio</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="bio" name="bio" th:text="${profile.bio}" title="Please enter 'bio'" required>Tell us about
                        yourself</textarea>
                </div>
            </div>

            <!-- Text input-->
            <div id="goalFormGroup" class="form-group">
                <label class="col-md-4 control-label" for="goal">Goal</label>

                <div class="col-md-4">
                    <input id="goal" name="goal" type="number" placeholder="Distance you want to run" title="Please enter 'goal'"
                           class="form-control input-md" required="" min="1" step="1">
                </div>
                <div class="col-md-4">
                    <label class="radio-inline pull-left" for="kms">
                        <input type="radio"  name="goalUnit" id="kms" value="kms" checked="checked">
                        km
                    </label>
                    <label class="radio-inline pull-left" for="miles">
                        <input type="radio" name="goalUnit" id="miles" value="miles">
                        miles
                    </label>
                </div>
            </div>

            <input type="hidden" name="connectionId" id="connectionId" th:value="${profile.connectionId}">
            <input type="hidden" name="profilePic" id="profilePic" th:value="${profile.profilePic}">
            <!-- Button -->
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button id="profileSaveButton" name="profileSaveButton" class="btn btn-success btn-lg">Done</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>


<script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>


<script>
    $(document).ready(function () {
        $('#profileForm').validate();
    });
</script>

</body>
</html>