<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${profile.fullname +' ('+ profile.username +')'} + ' on MilesToGo'"></title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
</head>

<body>

<div id="main" class="container-fluid">

    <p th:text="'Welcome, ' + ${profile.fullname}">Welcome</p>

</div>

<script src="/js/jquery.js" th:href="@{/js/jquery.js}"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>